header{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #aff6e0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
header>nav{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #aff6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
    justify-content: space-between;
}
header>img{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.black-border{
    border: 2px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #afe9f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
}
main{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #f3f6af;
    justify-content: flex-end;
}
main>img{
    display: inline;
    justify-content: center;
    align-items: center;
}